version: "3.4"

services:
  cubesimulator:
    image: cubecontainers.azurecr.io/draft-simulator-front
    build:
      context: .
      dockerfile: Simu_Dockerfile
      args:
        VITE_REACT_APP_WS_URL: ${VITE_REACT_APP_WS_URL}
        VITE_MY_ENCRYPTION: ${VITE_MY_ENCRYPTION}
    ports:
      - "80:80"
    networks:
      - thisnetwork
  
  nodeserver:
    image: cubecontainers.azurecr.io/draft-simulator-back
    build:
      context: .
      dockerfile: Server_Dockerfile
    ports:
      - "3301:3001"
    networks:
      - thisnetwork

  flaskserver:
    image: cubecontainers.azurecr.io/draft-simulator-flask
    build:
      context: .
      dockerfile: Flask_Dockerfile
    ports:
      - "5002:5002"
    networks:
      - thisnetwork

networks:
  thisnetwork:
    driver: bridge