.typeAmounts {
	display: flex;
	width: 50%
  }
  
  .sidebar {
	flex: 1;
	background-color: #f0f0f0; /* Example background color */
	padding: 20px;
  }
  
  .draftStatContent {
	flex: 1;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
  }
  
  .draftStatObject {
	flex: 0 0 calc(10%); /* Adjust the width as needed */
	padding: 5px;
	box-sizing: border-box; /* Ensures padding is included in width calculation */
  }

  .displayed {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  }

  .displayed .card {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .displayed img {
	max-width: 100%;
	height: auto;
  }

  .selected {
	width: 20%;
	border: 8px solid #000;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }

  .current {
	background-color: coral;
	flex: 0 0 calc(10%); /* Adjust the width as needed */
	padding: 5px;
	box-sizing: border-box; /* Ensures padding is included in width calculation */
  }