.main{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  width: 100vw;
  
}

 .menu{
  width: 400px;  
  padding: 20px;
  background-color: #22222283;
  border: 4px solid #c02e2e; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

.formcontainer {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 10px;
  align-items: center;
  grid-template-rows: auto;
}

.formcontainer label {
  text-align: left;
}

.formcontainer input {
  padding: 5px 10px;
  width: 80%; 
}