.main{
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  
}

.menu{
  width: 300px;  /* Adjust as needed */
  padding: 20px;
  background-color: #222; /* Dark retro background */
  border: 4px solid #c02e2e; /* White pixel-style border */
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}