.basiclands {
  left: 40%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
  gap: 5px;
}

.basiclandinput {
  display: auto;
  width: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ada9bb;
  font-family: 'Courier New', Courier, monospace;
  padding: 14px 0;
}

.leftSection {
  display: flex;
  align-items: center;
}

.landSection {
  display: flex;
  align-items: center;
}

.centerSection {
  flex-grow: 1;
  text-align: center;
}

.round {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}