.deckStats {
	display: flex;
	width: 100%
  }
  
  .sidebar {
	flex: 1;
	background-color: #f0f0f0; /* Example background color */
	padding: 20px;
  }
  
  .draftStatContent {
	flex: 1;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
  }
  
  .typeFilterObject {
	flex: 0 0 calc(10%); /* Adjust the width as needed */
	padding: 5px;
	box-sizing: border-box; /* Ensures padding is included in width calculation */
  }

  .displayed {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  }

  .displayed .card {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .displayed img {
	max-width: 100%;
	height: auto;
  }

  .selected {
	width: 20%;
	border: 8px solid #000;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }

  .current {
	background-color: coral;
	flex: 0 0 calc(10%); /* Adjust the width as needed */
	padding: 5px;
	box-sizing: border-box; /* Ensures padding is included in width calculation */
  }

  .curveChart {
    width: 50%;
	position: relative;
  }

  .commander {
	display: flex;
	align-items: center;
  }
  
  .mana-symbol {
	width: 6%; /* Adjust as needed */
	height: 6%; /* Adjust as needed */
  }
  
  .text {
	font-size: 120%; /* Adjust as needed to match the size of the mana symbols */
	margin-left: 5px; /* Adjust as needed for spacing */
	font-weight: bold;
  }
  