.pack {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  }
  
  .pack .card {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .pack img {
	max-width: 100%;
	height: auto;
  }
  .selected {
	width: 20%;
	padding: px;
	border: 8px solid #000;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
	.pack td {
	  width: 25%; /* Reduce cell width for smaller screens */
	}
  }